<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APP Automation Test Automation Test Suites">
 <test name=" App Test Cases ">

	<classes>
		<class name="com.qa.Bridgelabz.testcases.RegisterationPageTest"></class>
		<class name="com.qa.Bridgelabz.testcases.LoginPageTest"></class>
		<class name="com.qa.Bridgelabz.testcases.ForgotPageTest"></class>
	</classes>

</test>
</suite>